snippet matplotlib
	import matplotlib.pyplot as pl

snippet #
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-

	from __future__ import (division, print_function, absolute_import,
	                        unicode_literals)

	__all__ = []

snippet __version__
	__version__ = "${1:version}"
	__author__ = "${2:Dan Foreman-Mackey (danfm@nyu.edu)}"
	__copyright__ = "${3:Copyright 2013 Dan Foreman-Mackey}"
	__contributors__ = []
