snippet template
	#!/usr/bin/env python
	# encoding: utf-8
	"""
	${1}

	"""

	from __future__ import division

	__all__ = ['']

	import numpy as np

	${2}

	if __name__ == '__main__':
	    pass
snippet matplotlib
	import matplotlib
	matplotlib.use('Agg')
	import matplotlib.pyplot as pl
snippet #!
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-

	from __future__ import division, print_function, absolute_import, unicode_literals
