snippet matplotlib "a better matplotlib import" b
import matplotlib.pyplot as pl
endsnippet

snippet # "my standard header stuff" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-

from __future__ import (division, print_function, absolute_import,
                        unicode_literals)

__all__ = []
endsnippet
