[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = http://github.com/mitechie/pyflakes-pathogen.git
	ignore = dirty
